// Primary
$paleBlue: rgba(224, 232, 255, 255);
$brightBlue: rgba(56, 41, 224, 255);

// Neutral
$veryPaleBlue: rgba(245, 247, 255, 255);
$desaturatedBlue: rgba(114, 128, 167, 255);
$darkBlue: rgba(31, 47, 86, 255);

// Font weights
$regular: 500;
$bold: 700;
$ultraBold: 900;

$bordRad: 18px;
$padd: 14px;
