<section class="card">
    <img class="card__illustration" alt="Illustration people dancing hearing music" src="../static/images/illustration-hero.svg" width="240" height="260"/>
    <h1 class="card__title">Order Summary</h1>

    <div class="card__content">
        <p class="card__text">
            You can now listen to millions of songs, audiobooks, and podcasts on any
            device anywhere you like!
        </p>

        <form class="card__plan">
            <div class="card__plan-container">
                <span class="card__plan-icon-container">
                    <img class="card__plan-icon" alt="Plan icon" src="../static/images/icon-music.svg" width="50" height="50" />
                </span>
                <span class="card__plan-name">Annual Plan</span>
                <span class="card__plan-price">$59.99/year</span>

                <button class="card__button-change-plan" type="button">Change</button>
            </div>

            <div class="card__button-container">
                <button class="card__button-proceed-plan" type="button">Proceed to Payment</button>
                <button class="card__button-cancel-plan" type="button">Cancel Order</button>
            </div>
        </form>
    </div>
</section>
